@media (min-width: 992px) {

	.w-lc {
		width:15%;
	}

	
	.half-screen{
		height: 48vh;
	}

	.container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.display-none-desktop {
		display: none;
	}
	.lifecycle-detail-bg {
		background-color: #FFF7DA;
		clear:both;
	}
	.lifecycle-padding{
		margin-left: 1.5rem !important;
		margin-right: 1.5rem !important;
	}
	.p-content{
		padding: 0.5rem!important;
	}
	.border-5px{
		border: 5px solid #fff7da;
	}

	.display-desktop-cattext {
		padding: 3.5rem!important;
		width: 80%;
		float: left;
		color: #7D7D7D;
		text-align: justify;
	}
	
	.display-desktop-catimg {
		/*padding-top: 1.5rem!important;*/
		width: 20%;
		float: left;
		text-align: right;
	}
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.img-width {
	    width: 100%;
	}
	
}
@media (min-width: 1200px) and (max-width: 1320px) {
	.img-width {
	    width: 100%;
	}	
}
@media (min-width: 1320px) and (max-width: 1600px) {
	.img-width {
	    width: 100%;
	}	
}
@media (max-width: 1199px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-width {
	    width: 100%;
	}
}
@media (min-width: 1600px) {
	.img-width {
	    width: 100%;
	}

}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (max-width: 991px) {
	
	.w-lc {
		width:100%;
	}



	.nutrition-logo {
		width: 100%;
		left: 0px;
		background-size: contain;
		height: 3.5rem;
	}
	.pa{
		width:30%;
	}
	.mfa{
		width:80%;
	}
	.head-content{
		padding: 0 !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		position: relative;
		left:0px;
	}
	.updates-div {
		margin-left: 0 !important;
		margin-bottom: 0%;
	}
	.updates-div-heading {
		margin-left: 0 !important;
	}
	.div-carousel-updates {
		width: auto;
	}

	.yellow-round-small {
		width: 55px;
		height: 55px;
		left: 42px;
		top: 260px;
	}
	.yellow-round-big {
		height: 7rem;
		width: 7rem;
		left: 13.5rem;
		top: -2.5rem;
		border-radius: 3.5rem;
	}
	.lifecycle-bg {
		background: none;
		clear: both;
		/*margin-right: -2rem;
		margin-bottom: -2rem;
		padding: 0.25rem;
		*/
	}
	.lifecycle-image {
		border: 5px solid #FFD703;
		border-radius: 50%;
	}
	.lifecycle-subhead {
		background-color: transparent;
		width: 100%;
		font-size: 10px;
		line-height: 12px;
		padding:0px;
	}
	.lifecycle-image-selected {
		border: 5px solid #fadbbd;
		border-radius: 50%;
		height:auto;
		width:65%;
		vertical-align: super;
	}
	.lifecycle-div-selected{position: relative;}
	
	.lifecycle-div-selected:before {
		width: 0px;
		height: 0px;
		border-top: 2rem solid transparent;
		border-bottom: 2rem solid transparent;
		border-right: 3.5rem solid #fadbbd;
		position: absolute;
		content: "";
		right: -1.5rem;
		z-index: -1;
	}

	.div-category {
		padding-left: 0.2rem;
		margin: 0rem;
		padding-right: 0.1rem;
	}

	.border-5px {
		border-radius:0.5rem;
		background-color: #FFF7DA;
	}
	.tab-content {
		position: relative;
		padding-bottom: 10px;
		/*padding-left: 10px;*/
	}
	.lifecycle-detail-bg {
		background-color: #fadbbd;
		margin-bottom:-5px;
		padding-left:0rem;
		padding-right: 0rem;
		padding-top: 1rem;
		border-radius: 1rem;
	}
	.display-none-mobile{
		display: none !important;
	}
	.display-none-mobile-lifecycle{
		display: none !important;
	}
	.display-block-mobile-lifecycle{
		display: block !important;
	}

	.lifecycle-detail-img-text {
		background: transparent;
		position: unset;
		top: 0;
	}
	.lifecycle-detail-img {
		border-radius: 50%;
		background: transparent;
		width: 150px;
		height: 150px;
		border: 10px solid #F2A559;
	}
	.text-content {
		font-size: 14px;
		line-height: 20px;
	}
	.card-body {
		padding: 0.25rem; 
	}
	.indicators {
		min-width: 73px;
		min-height: 26px;
		font-size: 10px;
		line-height:0.75rem;
	}
	.for-mobile{
		display: flex;
		flex-direction: column;
	}
	.for-mobile-1{
		flex: 1;
		order: 1;
		padding-top: 3.5rem!important;
	}
	.for-mobile-2{
		flex: 1;
		order: 2;
		margin-bottom: 10px;
	}
	.for-mobile-3{
		flex: 1;
		order: 3;
	}
	.card {
		background: #FFF7DA;
	}
	.accordianstyle{
		margin-bottom: 10px;
		border-bottom-right-radius: 10px !important;
		border-bottom-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
		border-top-left-radius: 10px !important;
	}
	.card-header {
		padding: 0.25rem 0.25rem;
	}
	.btn-style {
		color: #000 !important;
		font-size: 13px;
		font-weight: 600;
	}
	.mobile-style{
		padding: 10px;
		margin-bottom: 10px;
	}
	.lifecycle-subhead-2 {
		font-size: 14px;
		line-height: 20px;
	}

	.mobile-subhead-hide {
		display:none;
	}

	.last-lc {
		margin-bottom: -45px;
	}

	.footer {
		height: 2rem;
		width: auto;
		background-color: black;
		text-align: center;
		margin-top: 1rem;
	}
	
	/*.i-icon{
		text-align: right;
		position:relative;
		top: -1rem;
		left: 8rem;
	}*/
	.i-icon{
		text-align: right;
		position:relative;
		top: 1rem;
		left: 6rem;
		width: 70%;
	}
	.img-width {
	    width: 50%;
	}
	
	.footer {
		height: auto;
		width:auto;
		background-color: black;
		text-align: center;
		margin-top: 1rem;
	}

	.nutrition-image {
		height: auto;
		width:90%;
		/*padding-top: 1rem;*/
	}

	.iitb-image {
		height: auto;
		width: 70%;
	}

	.proditech-image {
		height: auto;
		width:70%;
	}

	.unichef-image {
		height: auto;
		width:100%;
	}
	.visitor-count {
		height: auto;
		width:100%;
		font-size: 10px;

	}
} 
/*(max-width: 991px)*/

@media (min-width: 993px) {
	.i-icon {
		position: relative;
		top: -4rem;
		left: 21rem;
		width: 30%
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.lifecycle-div-selected:before {
		width: 0px;
		height: 0px;
		border-top: 3rem solid transparent;
		border-bottom: 3rem solid transparent;
		border-right: 8rem solid #fadbbd;
		position: absolute;
		top: 8.1%;
		content: "";
		right: -4rem;
		vertical-align: super;
	}
	.nutrition-logo {
    	background-position: center;
	}
	.pb-ipad{
		padding-bottom: 50px;
	}
	.i-icon {
	    left: 18rem;
	    top: -1rem;
		width: 90%
	}
	.img-width{
		width: 65%;
	}
	
	.footer {
		height: 4rem;
		width:auto;
		background-color: black;
		text-align: center;
		margin-top: 1rem;
	}

	.nutrition-image {
		height: auto;
		width:80%;
		/*padding-top: 1rem;*/
	}

	.iitb-image {
		height: auto;
		width: 50%;
	}

	.proditech-image {
		height: auto;
		width:60%;
	}

	.unichef-image {
		height: auto;
		width:60%;
	}
	.visitor-count{
		height:auto;
		width:100%;
		font-size:10px;
	}
}

/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {
	
}
/*(max-width: 767px)*/

@media (min-width: 576px) and (max-width: 767px) {
	.pb-ipad {
	    padding-bottom: 50px;
	}
	.nutrition-logo {
	    background-position: center;
	}
	.yellow-round-big {
	    left: 23.5rem;
	}
	.yellow-round-small {
	    left: 32%;
	}
	.div-carousel {
	    left: 26%;
	}
	.i-icon {
	    left: 21rem;
	    width: 40%;
	}
	.lifecycle-div-selected:before {
	    right: -0.5rem;
	    top: 1rem;
	}
}
/*(min-width: 576px) and (max-width: 767px)*/

@media (max-width: 575px) {
	.tree-size{
		width:30%;
		margin-left: 180px;
}

.guide {
	/* background: #FFE895; */
	border: 2px solid #F2A559;
	color: #D66D07 !important;
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 5px;
	min-width: 80px;
	min-height: 30px;
	font-size: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	/* line-height: 1rem; */
	margin-right: 2000px;
}

}
/*(max-width: 575px)*/

@media (max-width: 650px) {

}
@media (max-width: 400px) {

}
@media (max-width: 380px) {

}
